.MainContainer {
  display: flex;
  flex-direction: column;
}

.TableContainer {
  justify-content: center;
  display: inherit;
}

.SendButtonContainer {
  justify-content: center;
  display: inherit;
}

.LoadingContainer {
  display: inherit;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Loader {
  margin-right: 10px;
}